extends layout 
 
block content 
  h1(class='title')= title 
  if (toShow == null)
    h2 No instance to update 
  else
   - let electricityid = toShow._id 
   - let Edistributor_Name = toShow.Edistributor_Name
   - let electricity_gen = toShow.electricity_gen
   - let elctricity_type = toShow.elctricity_type
   
   div.row(class='mb-2 , style') 
     div.mr-1 ID is 
     div #{electricityid} 
   - let actionid = "/resource/electricity/" + electricityid 
   form(id='electricityForm', action= actionid, method="PUT") 
     div.form-group 
         label.electricityAttr(for='Edistributor_Name') Edistributor Name 
         input#Edistributor_Name(type='String', name='Edistributor_Name', value= Edistributor_Name ) 
     div.form-group 
         label.electricityAttr(for='electricity_gen') Electricity Gen
         input#electricity_gen(type='number', name='electricity_gen', value= electricity_gen, min='1', max='15') 
     div.form-group 
         label.electricityAttr(for='elctricity_type') Elctricity Type 
         input#elctricity_type(type='String', name='elctricity_type', value= elctricity_type ) 
     input(type="submit") 
 
  script. 
    document.forms['electricityForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'PUT', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Update succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Update failed " + error ) 
      }); 
    }); 