body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.electricityAttr {
  background-color: aquamarine;
  width: 120px;
}

.style {
  background-color: lightcyan;
  padding: 100;
  font: 12px "Times New Roman", Times, serif;
  font-size: 30px;
  width: 100;
}

.title {
  text-decoration-line: overline;
  color: chocolate;
  background-color: beige;
}


